/*general container stuff and defaults*/
body {
    margin: 0px;
    padding: 0px;
    
   /* background: linear-gradient(
        135deg
        ,#00a3e0 0%,#88c7eb 100%);*/
    color: rgb(219, 51, 0);

    background-color: lightblue;
    font-family: 'montseratt', sans-serif;
}
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    border: none;
}
.weather-container *{
    text-transform: uppercase;
    font-size: 24px;
    text-shadow: 
                2px 2px rgb(20, 20, 20, .8),
                1px 1px rgb(20, 20, 20, 1);

    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    transition: 0.3s ease;

    
    font-family: 'montseratt', sans-serif;
    
}
.weather-container {
    width: 300px;
    height: auto;

    border: 1px double rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 160px 150px 60px;
    align-items: center;
    justify-items: center;

    align-self: center;
    justify-self: center;

    -webkit-transition: background-color .4s ease-in; 
    transition: background-color .4s ease-in;
}


/*the input box*/
.weather-container input{
    width: 270px;
    height: 30px;
    grid-row: 1;

    margin-top: 20px;

    text-transform: none;
    font-size: 18px;
    text-justify: center;

    border-radius: 4px;
    
    text-shadow: 0px 0px rgba(0, 0, 0, 0.5);
    color: black;

    border: none;
    

    box-shadow: 0 3px 3px rgba(0,0,0,0.1),
                0 3px 3px rgba(0,0,0,0.1);

}

/*this container is for a background behind the location and temperature*/
#location-temp-background{
    grid-row: 2;
    max-width: 300px;

    display: grid;

    padding: 12px 24px;

    /*background-color: rgba(0, 0, 0, 0.1);


    box-shadow: 0 1px 1px rgba(0,0,0,0.2),
                0 1px 1px rgba(0,0,0,0.2); */

    border-radius: 4px;
}
#location{
    height: 30px;
    max-width: 300px;
    

    align-self: end;
    justify-self: center;
}
#location-temp-background h2{
    max-width: 300px;
}
#temperature{
    font-size: 54px;
    max-width: 300px;
    align-self: center;
    justify-self: center;
}
/*the weather image*/
#image{
    grid-row: 3;

    height: 150px;
    width: 150px;
}
#image:hover{
    transform:scale(1.15);
}

/*the weather description*/
#weather{
    height: 32px;

    padding: 4px;
    grid-row: 4;

    border-radius: 4px;

    font-size: 24px;

    /*box-shadow: 0 1px 1px rgba(0,0,0,0.1),
                0 1px 1px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.1); */
}
